{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <form action="{% url 'register' %}" method="get">
        <button type="submit">Create New Account</button>
    </form>
    <form action="{% url 'password_reset' %}" method="get">
    <button type="submit">Forgot Password?</button>
</form>
{% endblock %}


